@import "theme/base.scss";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-body {
        position: relative;
        color: $goWildWhite;
        width: 70%;
        max-width: 450px;
        background-color: $goWildRedTranslucent;
        padding: 30px 0;
        font-size: 26px;
        border: 1px solid $goWildWhite;

        .close {
            position: absolute;
            right: 8px;
            top: 7px;
            font-size: 18px;
            opacity: .8;
            cursor: pointer;
        }

        a, button {
            display: block;
            color: $goWildRed;
            font-size: 34px;
            line-height: 64px;
            border-radius: 32px;
            font-weight: bold;
            text-decoration: none;
            margin: 10px 75px;
            padding: 0 20px;
            border: 2px solid $goWildWhite;
            background-color: $goWildWhite;
        }
    }
}
