@import "theme/base.scss";

.home {
    .hero {
        background: url(/images/hero.jpg) no-repeat 0% 0%;
        background-size: cover;
        overflow: auto;
        height: 500px;
        padding-top: 60px;
        text-align: center;
        color: $goWildWhite;

        h2 {
            margin: 20px 0;
            font-size: 80px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        p {
            font-size: 30px;
        }

        .contact-button {
            button {
                border: 2px solid $goWildWhite;
                background-color: $goWildRed;
                line-height: 70px;
                padding: 0 80px;
                border-radius: 35px;
                font-size: 30px;
                cursor: pointer;
                color: $goWildWhite;
            }

            &.active {
                button {
                    visibility: hidden;
                }
            }
        }
    }

    .content {
        @extend .container;
        @extend .content;
    }

    .feature {
            width: 90%;
            height: 200px;
            border: 2px solid $goWildRed;
            box-sizing: border-box;
            margin: 0 auto;

            &.feature-large {
                margin: 5% 5% 0;
            }
        }

    .flip-card-container {
        width: 42.5%;
        height: 265px;
        perspective: 1000px;
        display: inline-block;
        margin: 5% 0 0 5%;

        .flip-card {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.4s;
            transform-style: preserve-3d;
        }

        .flip-card-front, .flip-card-back {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border: 2px solid $goWildRed;
            box-sizing: border-box;
            overflow: hidden;
        }

        .flip-card-front {
            h3 {
                position: absolute;
                margin: 0;
                color: $goWildWhite;
                font-size: 38px;
                letter-spacing: 1px;
                font-weight: normal;
            }
        }

        .flip-card-back {
            background-color: $goWildYellow;
            color: black;
            transform: rotateY(180deg);
            font-size: 20px;
            padding: 5px 20px;
            cursor: pointer;
            text-align: center;
        }

        &:hover .flip-card {
            transform: rotateY(180deg);
        }

        a {
            text-decoration: none;
            color: $goWildBlack;
        }

        strong {
            color: $goWildLink;
            font-weight: normal;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

