@import "theme/base.scss";

.content-container {
     width: 300px;
}

.product-tile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.product-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $goWildBlack;
}

.product-image {
    display: block;
    font-size: 0;
    border: 2px solid $goWildRed;
    box-sizing: border-box;
    width: 100%;
}
