@import "theme/base.scss";

@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/helveticaneue-light-webfont.eot'),
         url('../../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/helveticaneue-light-webfont.woff2') format('woff2'),
         url('../../fonts/helveticaneue-light-webfont.woff') format('woff'),
         url('../../fonts/helveticaneue-light-webfont.ttf') format('truetype'),
         url('../../fonts/helveticaneue-light-webfont.svg') format('svg');
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    background-color: $goWildWhite;
}

.wrapper {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    h1 {
        margin: 0;
    }

    h3 {
        font-size: 24px;
    }
}

@include phoneLarge {
    .container {
        padding: 0;
    }
}
