@import "../../configs/config-styles";

.footer {
    margin-top: auto;
    height: 160px;
    width: 100%;
    background-color: $goWildRed;

    div {
        line-height: 160px;
        font-size: 30px;
        text-align: center;
        color: $goWildWhite;
    }

    a {
        text-decoration: none;
        color: $goWildWhite;
    }
}

@include screenSmall {
    .footer {
        height: 140px;

        div {
            font-size: 26px;
            line-height: 140px;
        }
    }
}
