@import "theme/base.scss";

.header, .header .container, .header .list li {
    height: 130px;
    position: relative;
}

.header {
    color: $goWildWhite;
    z-index: 2;
    background-color: $goWildRed;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.39);

    .facebook {
        position: absolute;
        font-size: 38px;
        color: $goWildWhite;
        right: 50px;
        top: 46px;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 36px;
        left: 50px;
        font-size: 42px;
        color: $goWildWhite;
        z-index: 1;
        cursor: pointer;
    }

    .dd-menu {
        visibility: hidden;
        opacity: 0;
        position: relative;
        top: -1px;
        padding: 0;
        line-height: 40px;
        background-color: $goWildWhite;
        box-shadow: 0 8px 20px 0 rgba(0,0,0,.39);
        min-width: 115px;
        padding-bottom: 5px;


        .dd-item {
            display: block;
            width: 90%;
            margin: 0 auto;
            height: auto;
            border-top: 1px solid $goWildRed;

            a {
                color: $goWildRed;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }

    .menu-list {
        display:flex;
        max-width: 775px;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        height: 130px;
        line-height: 130px;
        font-size: 0;
        background-color: $goWildRed;

        li {
            height: 100%;
            display: inline-block;
        }

        .menu-item {
            text-align: center;
            width: auto;
            min-width: 80px;
            box-sizing: border-box;
            flex-basis: 100%;

            &:hover {
                background-color: $goWildWhite;
                transition: background-color 0.15s linear;

                a, span {
                    color: $goWildRed;
                }

                .dd-menu {
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s, opacity 0.15s linear;
                }
            }
        }

        .logo {
            width: 215px;
            display: inline-block;
            background: url(/images/GoWild.png) no-repeat 0% 0%;
            text-indent: -3333px;
            height: 200px;
            line-height: inherit;
            font-size: 30px;
        }

        a, span {
            display: block;
            font-size: 30px;
            color: $goWildWhite;
            text-decoration: none;
        }
    }
}

@include screenSmall {
    .header, .header .container, .header .list li {
        height: 120px;
    }

    .header {

        .container {
            padding: 0;
        }

        .facebook {
            right: 20px;
            top: 39px;
        }

        .menu-list {
            padding: 0 45px;
            height: 120px;
            line-height: 120px;

            a, span {
                font-size: 26px;
            }
        }
    }
}

@include phoneLarge {
    .header {

        .mobile-menu {
            display: block;

            &.active + .menu-list {
                display: block;
            }
        }

        .dd-menu {
            visibility: hidden;
            max-height: 0;
            overflow: hidden;
            opacity: 1;
        }

        .menu-list {
            display: none;
            height: 100vh;
            width: 55%;
            position: fixed;
            top: 0;
            left: 0;
            padding: 0;
            box-shadow: 8px 8px 20px 5px rgba(0,0,0,.39);

            .menu-item {
                display: block;
                height: auto;
                line-height: 80px;
                text-align: left;
                width: 100%;
                border-bottom: 1px solid $goWildWhite;
                padding-left: 50px;
                cursor: pointer;

                &:first-child {
                    margin-top: 120px;
                }

                &:hover {
                    background-color: $goWildRed;

                    a, span {
                        color: $goWildWhite;
                    }

                    .dd-menu {
                        visibility: hidden;
                    }
                }

                &.active {
                    background-color: $goWildRed;

                    a, span {
                        color: $goWildWhite;
                    }

                    .dd-menu {
                        visibility: visible;
                        max-height: 500px;
                        background-color: $goWildRed;
                        box-shadow: none;
                        transition: visibility 0s, max-height 0.2s linear;

                        .dd-item {
                            color: $goWildWhite;
                        }
                    }
                }
            }

            .logo {
                height: 0;
                line-height: 0;
                display: block;

                h1 {
                    height: 0;
                }
            }
        }
    }
}

@include phoneSmall {
    .header {

        .menu-list {
            width: 70%;
        }
    }
}
