/***** VARIABLES *****/
$small-screen: 1000px;
$tablet-width: 768px;
$phone-width: 480px;

$goWildRed: #ec3042;
$goWildWhite: #fff;
$goWildBlack: #333;
$goWildGray: #a8a8a8;
$goWildYellow: #ffffd5;
$goWildLink: #337ab7;
$goWildRedTranslucent: rgba(236, 48, 66, 0.75);


/***** MIXINS *****/
@mixin screenSmall {
    @media (max-width: #{$small-screen}) {
        @content;
    }
}

@mixin phoneLarge {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin phoneSmall {
  @media (max-width: #{$phone-width - 1px}) {
    @content;
  }
}


/***** BASE STYLES *****/
.container {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.content {
    margin: 50px auto;
}
