@import "theme/base.scss";

.contact {
    @extend .container;

    section {
        width: 50%;
    }

    h3 {
        margin-bottom: 8px;
    }

    .heading {
        font-weight: bold;
        font-size: 18px;
        margin: 15px 0 30px;
    }

    .field {
        position: relative;
        padding-bottom: 20px;
        margin: 5px 0;
    }

    label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .field, button {
        font-size: 16px;
    }

    input, textarea {
        width: 80%;
        padding: 4px 5px;
        border: 1px solid $goWildGray;
        font-size: 16px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

        &.error {
            border-color: #ec3042;
            box-shadow: inset 0 0 5px 1px #ec3042;
        }
    }

    .error-message {
        position: absolute;
        bottom: 5px;
        left: 0;
        font-size: 12px;
        color: #ec3042;
        letter-spacing: 0.2px;
    }

    button {
        padding: 8px 35px;
        margin-top: 8px;
        color: #fff;
        background-color: #ec3042;
        border: none;
    }
}
