@import "theme/base.scss";

.hero-container {
    overflow: auto;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding: 35px 0 25px;
    margin: 0;
}

.hero-blurb {
    p {
        margin: 10px 0;
    }
}

.image {
    float: right;
    margin: 0 0 25px 25px;
}
